.body{
    width: 100%;
    
    
}
.result{
    // margin: 1rem 1rem auto;
    height: 100vh;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.spacer{
    flex:1 1 auto
}

.carousel{
    margin: 0.75rem;
}

.transferContainer{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}